doctype 5
html
	head
		script(type='text/javascript', src='/javascripts/formexp.js')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/funciones.js')
		link(rel='stylesheet', type='text/css', href='/stylesheets/estilo.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/stylesheets/estiloDivs.css', media='screen')
		link(rel='stylesheet', type='text/css', href='/stylesheets/tabla.css', media='screen')
	body(onload='init(['+select+'])')
		h1 BBVA Innova Challenge - Data Mining
		table(width='1200',align='center',border='0') 
			tr
				td
					form(action='/', method='get',id="myForm")
						table(width='100%', align='center', border='0')
							tr
								td(align='center',rowspan=2)
									table(width='500', border='10', bordercolor='blue')
										tr
											td(align='center')
												table(width='100%',class='tabla')
													tr(align='center')
														td.titulos(colspan='4', width='25%', height='30') Selecciona 3 o menos categorias, y el C.P. para analizar
													tr.respuestas
														td(width='17.5%', align='left')
															input(type='checkbox', class='catChecked', name='cat[]', id='cat0', value='00es_auto')
															b.respuestas=categorias[0]
														td(width='32.5%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat1', value='01es_barsandrestaurants')
															b.respuestas=categorias[1]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked', name='cat[]', id='cat2', value='02es_food')
															b.respuestas=categorias[2]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked', name='cat[]', id='cat3', value='03es_fashion')
															b.respuestas=categorias[3]
													tr.respuestas
														td(width='17.5%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat4',value='04es_health')
															b.respuestas=categorias[4]
														td(width='32.5%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat5',value='05es_contents')
															b.respuestas=categorias[5]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked', name='cat[]', id='cat6' , value='06es_home')
															b.respuestas=categorias[6]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat7', value='07es_hotelservices')
															b.respuestas=categorias[7]
													tr.respuestas
														td(width='17.5%', align='left')
															input(type='checkbox', class='catChecked', name='cat[]', id='cat8',value='08es_travel');
															b.respuestas=categorias[8]
														td(width='32.5%', align='left')
															input(type='checkbox', class='catChecked', name='cat[]', id='cat9', value='09es_hyper')
															b.respuestas=categorias[9]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat10',value='10es_transportation')
															b.respuestas=categorias[10]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat11',value='11es_wellnessandbeauty')
															b.respuestas=categorias[11]
													tr.respuestas
														td(width='17.5%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat12', value='12es_propertyservices')
															b.respuestas=categorias[12]
														td(width='32.5% ', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat13',value='13es_sportsandtoys')
															b.respuestas=categorias[13]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat14', value='14es_leisure')
															b.respuestas=categorias[14]
														td(width='25%', align='left')
															input(type='checkbox', class='catChecked',  name='cat[]', id='cat15',value='15es_tech')
															b.respuestas=categorias[15]
													tr
														td.datos( colspan=1, align='right')  C.P.
														td.respuestas(colspan=3, align='left')
															select#zipCode.respuestas(name='zipCode')
																option(value=''+codigo)=codigo
																option(value='08301-Mataró') 08301-Mataró
																option(value='08370-Calella') 08370-Calella
																option(value='08380-Malgrat de Mar') 08380-Malgrat de Mar
																option(value='08397-Pineda de Mar') 08397-Pineda de Mar
																option(value='08398-Santa Susanna, Catalonia-') 08398-Santa Susanna, Catalonia
																option(value='08401-Granollers') 08401-Granollers
																option(value='08620-Sant Vicenç dels Horts') 08620-Sant Vicenç dels Horts
																option(value='08630-Abrera') 08630-Abrera
																option(value='08640-Olesa de Montserrat') 08640-Olesa de Montserrat
																option(value='08740-Sant Andreu de la Barca') 08740-Sant Andreu de la Barca
																option(value='08758-Cervelló') 08758-Cervelló
																option(value='08800-Vilanova i la Geltrú') 08800-Vilanova i la Geltrú
																option(value='08810-Sant Pere de Ribes') 08810-Sant Pere de Ribes
																option(value='08820-el Prat de Llobregat') 08820-el Prat de Llobregat
																option(value='08830-Sant Boi de Llobregat') 08830-Sant Boi de Llobregat
																option(value='08840-Viladecans') 08840-Viladecans
																option(value='08850-Gavà') 08850-Gavà
																option(value='08860-Castelldefels') 08860-Castelldefels
																option(value='08870-Sitges') 08870-Sitges
																option(value='08940-Cornellà de Llobregat') 08940-Cornellà de Llobregat
																option(value='08950-Esplugues de Llobregat') 08950-Esplugues de Llobregat
																option(value='08960-Sant Just Desvern') 08960-Sant Just Desvern
																option(value='08970-Sant Joan Despí') 08970-Sant Joan Despí
																option(value='08980-Sant Feliu de Llobregat') 08980-Sant Feliu de Llobregat
																option(value='08320-el Masnou') 08320-el Masnou
								td(align='center')
									table(width='340', border='10', bordercolor='blue')
										tr
											td(align='center')
												table(width='100%',class='tabla')
													tr(align='center',class='tabla')
														td.titulos(width='40%', height='30') Orden
														td Vista
													tr(align='center',)
														td.titulos(width='40%', height='30') 1a Dimensión
														td
															select#1a_cat.respuestas(name='categoria',onclick='seleccionar(2)')
																option(value=''+dim_id[0])=dim[0]
																option(value=''+dim_id[1])=dim[1]
																option(value=''+dim_id[2])=dim[2]
																option(value=''+dim_id[3])=dim[3]
													tr(align='center')
														td.titulos(width='40%', height='30') 2a Dimensión
														td
															select#2a_cat.respuestas(name='categoria',onclick='seleccionar(3)')
																option(value=''+dim_id[1])=dim[1]
																option(value=''+dim_id[2])=dim[2]
																option(value=''+dim_id[3])=dim[3]
																option(value=''+dim_id[0])=dim[4]
													tr(align='center')
														td.titulos(width='40%', height='30') 3a Dimensión
														td
															select#3a_cat.respuestas(name='categoria',onclick='seleccionar(4)')
																option(value=''+dim_id[2])=dim[2]
																option(value=''+dim_id[3])=dim[3]
																option(value=''+dim_id[0])=dim[4]
																option(value=''+dim_id[1])=dim[0]
													tr(align='center')
														td.titulos(width='40%', height='30') 4a Dimensión
														td
															select#4a_cat.respuestas(name='categoria')
																option(value=''+dim_id[3])=dim[3]
																option(value=''+dim_id[0])=dim[0]
																option(value=''+dim_id[1])=dim[1]
																option(value=''+dim_id[2])=dim[2]
													tr(align='center')
														td(colspan='2')
															input.respuestas(type='button', onClick="validar('myForm')", value='Generar',class='boton')

			tr	
				td
						table(width='900', bordercolor='blue', align='center', border='10', cellspacing='10', cellpadding='10')
							tr
								td(colspan='7', align='left')
									table(width='100%',class='tabla_main')
										tr(class='main_tr')
											td(colspan='5', align='center')
												b.header Datos:
											td(width='20%', align='center')
												b.header  N&uacutemero de Pagos:
											td(width='20%', align='center')
												b.header Promedio:
											td(width='20%', align='center')
												b.header N&uacutemero de tarjetas:
										- for(var a=0; a<datos.length;a++){
										tr
											td(width='5%', align='right')
												div(id='mas_cat_'+a+'00')
													img.datos(onclick='displayCat('+a+',0,0)', alt='mores', src='/images/plus1.png')
												div(id='min_cat_'+a+'00')
													img.datos(onclick='undisplayCat('+a+',0,0)',alt='min',  src='/images/mins1.png')
											td(colspan='4', width='35%' align='left')
												b.titulos_0=titulos.cat0[a]
											td(colspan='3', width='60%', align='left')
												div(id='dat_cat_'+a+'00')
													table(width='100%')
														tr
															td(width='20%', align='center')
																b.datos=datos[a][0][0][0][0]
															td(width='20%', align='center')
																b.datos=datos[a][0][0][0][1]
															td(width='20%', align='center')
																b.datos=datos[a][0][0][0][2]
										tr
											td(colspan='8', align='left')
												div(id='div_cat_'+a+'00')
													table(width='100%')
														- for(var b=1; b<datos[a].length; b++){
														tr
															td(width='5%', align='left')
																b.titulos
															td(width='5%', align='right')
																div(id='mas_cat_'+a+''+b+'0')
																	img.datos(onclick='displayCat('+a+','+b+',0)', alt='mores', src='/images/plus1.png')
																div(id='min_cat_'+a+''+b+'0')
																	img.datos(onclick='undisplayCat('+a+','+b+',0)', alt='min', src='/images/mins1.png')
															td(colspan='3', width='30%',align='left')
																b.titulos_1=titulos.cat1[b-1]
															td(colspan='3', widht='60%', align='left')
																div(id='dat_cat_'+a+''+b+'0')
																	table(width='100%')
																		tr
																			td(width='20%', align='center')
																				b.datos=datos[a][b][0][0][0]
																			td(width='20%', align='center')
																				b.datos=datos[a][b][0][0][1]
																			td(width='20%', align='center')
																				b.datos=datos[a][b][0][0][2]
														tr
															td(colspan='8',align='left')
																div(id='div_cat_'+a+''+b+'0')
																	table(width='100%')
																		-for(var c=1; c<datos[a][b].length; c++){
																		tr
																			td(width='5%', align='left')
																				b.titulos
																			td(width='5%', align='left')
																				b.titulos
																			td(width='5%', align='right')
																				div(id='mas_cat_'+a+''+b+''+c)
																					img.datos(onclick='displayCat('+a+','+b+','+c+')', alt='mores', src='/images/plus1.png')
																				div(id='min_cat_'+a+''+b+''+c)
																					img.datos(onclick='undisplayCat('+a+','+b+','+c+')', alt='min', src='/images/mins1.png')
																			td(colspan='2',width='25%',align='left')
																				b.titulos_2=titulos.cat2[c-1]
																			td(colspan='3', widht='60%', align='left')
																				div(id='dat_cat_'+a+''+b+''+c+'')
																					table(width='100%')
																						tr
																							td(width='20%', align='center')
																								b.datos=datos[a][b][c][0][0]
																							td(width='20%', align='center')
																								b.datos=datos[a][b][c][0][1]
																							td(width='20%', align='center')
																								b.datos=datos[a][b][c][0][2]
																		tr
																			td(colspan='8',align='left')
																				div(id='div_cat_'+a+''+b+''+c+'')
																					table(width='100%')
																						-for(var d=1; d<datos[a][b][c].length;d++){
																						tr
																							td(width='5%', align='left')
																								b.titulos
																							td(width='5%', align='left')
																								b.titulos
																							td(width='5%', align='right')
																								b.titulos
																							td(width='5%', align='right')
																								b.titulos ->
																							td(width='20%',align='left')
																								b.titulos_3=titulos.cat3[d-1]
																							td(width='20%', align='center')
																								b.datos=datos[a][b][c][d][0]
																							td(width='20%', align='center')
																								b.datos=datos[a][b][c][d][1]
																							td(width='20%', align='center')
																								b.datos=datos[a][b][c][d][2]
																						-}
																		-}
														- }
										- }

